.card{
    border-radius: 30px;
}

.h22{
    margin-bottom: 3%;
}

.footer-top{
    background: #151515;
    color: #fff;
    border-bottom: 1px solid #222222;
    padding: 60px 0 30px 0;
}
.footer-top .footer-info{
    margin-bottom: 3px;
}
.footer-top .footer-info h3{
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: normal;
    text-transform: uppercase;
}
.footer-top .footer-info p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer-top .footer-links a{
    width: 36px;
    height: 36px;
}
.footer-links li{
    padding: 5px;
    display: flex;
    align-items: center;
}
.footer-links a{
    color: white;
    text-decoration: none;
}
.footer-links a:hover{
    color: orange;
}
form{
    margin-top: 30px;
    padding: 6px 10px;
    border-radius: 4px;
}
.popka{
    margin-left: 30% ;
    margin-top: -5%;
}